.box {
  border: 3px solid black;
  width: 50vh;
  height: 25vh;
  align-content: center;
  position: absolute;
  right: 75vh;
  top: 15vh;
}
.search_button {
  position: relative;
  top: 5vh;
  left: 8vh;
}
.search_field {
  position: relative;
  left: 5vh;
  top: 3vh;
}
.exsit_button {
  position: relative;
  top: 5vh;
  left: 5vh;
}
.table {
  position: absolute;
  top: 60vh;
  border-color: black;
}
.table_title {
  position: relative;
}
.close_button {
  position: relative;
  left: 15vh;
}

.add_user_form {
  border-radius: 10px;
  border: 1px solid black;
  width: 60vh;
  height: 60vh;
  position: absolute;
  left: 50vh;
  top: 50vh;
}
.add_title {
  padding-top: 5px;
  font: 2em sans-serif;
  right: 4vh;
  position: relative;
}
.mb-3 {
  position: relative;
  left: 1vh;
}
.samller_input {
  font-size: 10px;
  /* padding: 2px 5px; */
  width: 40vh;
}
.sub_title_form {
  font-size: 30px;
}

